<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Login</h2>
<form th:action="@{/verify}" method="post">
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>

<h2>Register</h2>
<form th:action="@{/register}" method="post">
    <label>Username:</label>
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password" name="password"><br>
    <label>Repeat Password:</label>
    <input type="password" name="repeatPassword"><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
