<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ENG">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Register</h2>
    <div id="error-message" class="error-message" style="display: none;"></div>
    <form th:action="@{/register}" th:object="${userDto}" method="post" onsubmit="return validatePasswords()">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        <label for="repeatPassword">Repeat Password:</label>
        <input type="password" id="repeatPassword"><br>
        <input type="submit" value="Register">
    </form>
</div>
<script th:src="@{/js/script.js}"></script>
</body>
</html>